DJANGO_SECRET_KEY='dHJIYbaVCvGL2TaQe4DAiNfRNsMJfGc_HMATB5SeHpx4JN_SVxUiqZkLq1BSNZlgogA'
DEBUG=True
RANDOM_ORG_API_KEY=KEY

# DEV SQLite
DATABASE_URL=sqlite:///db.sqlite3
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=
